*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --golden: #A59678;
    --gray: #6F737F;
    --dark-blue: #3B4050;
    --almost-black: #2E323F;
}

html {
    font-size: 62.5%;
}
